@import '~constants'

.wrapper
  display flex
  height 4rem

.button
  padding 0 1.6rem
  cursor pointer
  font-weight 600
  background-color #fff
  border .1rem solid $grey

  & + &
    border-left none

  &:first-child
    border-radius: 1.2rem 0 0 1.2rem;

  &:last-child
    border-radius: 0 1.2rem 1.2rem 0;

  &:hover:not(&--active, &--disabled)
    background-color $light-grey

  &--disabled
    $disabled()

  &--active
    color #fff
    background-color $cyan
