@import '~constants'

.button
  color $orange
  background-color #fff
  border-color $orange

  &:hover:not(&:active)
    background-color #fdedd3

  &:active
    color $orange
    background-color $light-orange