.controls
  width fit-content
  margin-top 3.2rem
  display flex
  flex-direction column
  justify-content center

  &__buttons
    margin-bottom 1.2rem
    display flex

  &__sliders
    display flex
    justify-content space-between