*
  box-sizing border-box

html
  height 100%
  font-size 10px

body
  height 100%
  padding 3.2rem
  display flex
  flex-direction column
  justify-content center
  color black
  background-color #f2f4f6
  font-family 'Roboto', sans-serif
  font-size 1.4rem
  -webkit-font-smoothing antialiased
  text-size-adjust 100%

:global(#app)
  flex-grow: 1