*
  box-sizing border-box

html
  height 100%
  font-size 10px

body
  height 100%
  margin 0
  padding 0
  display flex
  flex-direction column
  justify-content center
  color #fff
  background-color #282a36
  font-family 'Roboto', sans-serif
  font-size 1.4rem
  -webkit-font-smoothing antialiased
  text-size-adjust 100%

:global(#app)
  padding 2rem